table {
  width: 100%;
}

th {
  font-size: 1.125rem;
  text-align: left;
  border-bottom: 0.125rem solid #D5D5D5;
}

.label {
  font-weight: bold;
}

.description {
  color: #454545;
  font-size: 0.875rem;
}
