{% extends "layout" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/resources/default/css/theme.css" />
{% endblock head %}

{% block content %}
  {{ super() }}
  <a href="/pages/new">Add page</a>
  <table>
    <thead>
      <tr>
        <th>Page</th>
        <th>Parent</th>
        <th>Slug</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {% if pages %}
        {% for page in pages %}
          <tr>
            <td>{{ page.title }}</td>
            <td>{{ page.parent }}</td>
            <td>{{ page.slug }}</td>
            <td>
              <a href="/pages/{{ page.id }}">View</a>
              <a href="/pages/{{ page.id }}/update">Edit</a>
              <a href="/pages/{{ page.id }}/delete">Delete</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="2">
            There are no pages yet. <a href="/pages/new">Add one</a>.
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock content %}
