{% extends "layout" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/resources/default/css/theme.css" />
  <link rel="stylesheet" href="/static/resources/default/css/form.css" />
{% endblock head %}

{% block content %}
  {{ super() }}
  <form method="post">
    <div class="message">
      Are you sure that you want to delete the page <em>{{ page.title }}</em>?
    </div>
    <div class="actions">
      <button type="submit" class="button button--primary">Confirm</button>
      <a href="/pages/" class="button">Cancel</a>
    </div>
  </form>
{% endblock content %}
