{% extends "layout" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/resources/default/css/theme.css" />
  <link rel="stylesheet" href="/static/resources/default/css/form.css" />
{% endblock head %}

{% block content %}
  {{ super() }}
  <form method="post">
    {% if message %}
      <div class="message">
        {{ message }}
      </div>
    {% endif %}
    <div class="fields">
      <div class="field field--text">
        <label for="auth-email" class="label">Email</label>
        <input type="text" id="auth-email" name="email" class="input input--email input--required" value="{{ auth.email }}" required="true" />
      </div>
      <div class="field field--password">
        <label for="auth-password" class="label">Password</label>
        <input type="password" id="auth-password" name="password" class="input input--password input--required" required="true" />
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="button button--primary">Log in</button>
      <a href="/" class="button">Cancel</a>
    </div>
  </form>
{% endblock content %}
