<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% for asset in library.assets | filter(attribute="type", value="css") %}
      {{ template(name="asset", value=asset) | safe }}
    {% endfor %}
    {% for asset in library.assets | filter(attribute="type", value="js") %}
      {{ template(name="asset", value=asset) | safe }}
    {% endfor %}
  </head>
  <body>
    {% if themes %}
      <table class="themes">
        <thead>
          <tr>
            <th>Theme</th>
          </tr>
        </thead>
        <tbody>
          {% for theme in themes %}
            <tr class="theme">
              <td>
                <div class="label">
                  {{ theme.label }}
                </div>
                <div class="description">
                  {{ theme.description }}
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </body>
</html>
